.gambar{
	width: 80%;
	display: inherit;
	margin: auto;
	margin-bottom: 20px;
}

.gambar.foto img{
	width: 300px;
	border-radius: 10px;
}

.foto
{
	border: 1px solid ;
	margin: 10px;
	text-align: center;
	
}